
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/057ac500b7.js" crossorigin="anonymous"></script>


</head>
<body>

<div align="center">
    <h1 align=left style="margin-top: 5%; margin-left: 181pt; font-size: 300%; font-weight: bold;">copypasta.me</h1>

    {% for post in posts %}
<div class="card h-200" align="left" style="width: 90rem; min-height: 30rem;">
    
    <div class="card-body">
      <h5 class="card-title" style="font-size: 30pt;">{{ post.title }}</h5>
      <p class="card-text" style="line-height: 178%;">
    {{ post.content }}
    </p>
            
    </div>
    <div class="btn-toolbar" role="toolbar" style="margin-bottom: 5pt; margin-left: 5pt;">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary">Generate</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-primary">Copy <i class="fas fa-link"></i>     </button>

          
        </div>
      </div>
  </div>
  {% endfor %}
</div>

</body>
</html>
